:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden !important;
  background-color: #fff7ed;
}

/* ------------------------------------------------------------------ */

.button {
  border: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
  font-size: 1rem;
}

.button-sm {
  border: none;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.orange {
  border-radius: 5px;
  background: #ff8c38;
  color: #fff;
  font-weight: 700;
}

.black {
  border-radius: 10px;
  background: #161616;
  color: #fff;
  font-size: 0.8rem;
  font-weight: 700;
}

/* ------------------------------------------------------------------ */

nav {
  background-color: #fff7ed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.nav--title {
  font-size: 1.5rem;
  color: #000;
  font-weight: 900;
}

.nav--links a {
  text-decoration: none;
  padding-left: 1rem;
  color: #4d4d4d;
  font-weight: 600;
  font-size: 1rem;
}

.nav--links a:hover {
  cursor: pointer;
}

/* ------------------------------------------------------------------ */

footer {
  margin-top: auto;
  padding: 1rem;
  background-color: #252525;
  color: #aaa;
  text-align: center;
}

/* ------------------------------------------------------------------ */

.home {
  background-color: #7b7b7b;
  background-blend-mode: multiply;
  background-image: url('./src/assets/homeBg.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding-top: 200px;
  padding-bottom: 200px;
  background-position: 50% 10%;
}

.home--content {
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}

.home--title {
  font-size: 2.25rem;
  font-weight: 800;
}

.home--text {
  font-size: 1rem;
  font-weight: 500;
}

/* ------------------------------------------------------------------ */

.about--img {
  width: 100%;
  height: 240px;
  object-fit: cover;
  object-position: 50% 40%;
}

.about--content {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.about--title {
  color: #161616;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 38px;
}

.about--text {
  color: #161616;
  font-weight: 500;
  line-height: 22px;
}

.about--card {
  border-radius: 5px;
  background: #ffcc8d;
  padding: 2rem;
}

.about--card-title {
  font-size: 1.2rem;
  color: #161616;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 1.4rem;
}

/* ------------------------------------------------------------------ */
