:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

body::-webkit-scrollbar {
  display: none;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden !important;
  background-color: #fff7ed;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

a {
  text-decoration: none;
  width: 100%;
}

a:visited {
  text-decoration: none;
  color: initial;
}

/* --Components---------------------------------------------------------------- */

.button {
  border: none;
  padding-top: 0.9rem;
  padding-bottom: 0.9rem;
  width: 100%;
  font-size: 1rem;
  transition: transform 0.1s ease-in-out;
}

button:hover {
  transform: translate(0, -2px);
}

.button-sm {
  border: none;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.orange {
  border-radius: 5px;
  background: #ff8c38;
  color: #fff;
  font-weight: 700;
}

.black {
  border-radius: 10px;
  background: #161616;
  color: #fff;
  font-size: 0.8rem;
  font-weight: 700;
}

.badge {
  margin-top: -1rem;
  border-radius: 0.3rem;
  color: #ffead0;
  width: 4.8rem;
  height: 1.8rem;
}

.badge p {
  width: 4.8rem;
  height: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  font-weight: 600;
  text-transform: capitalize;
  font-style: normal;
}

.badge.simple {
  background-color: #e17654;
}
.badge.rugged {
  background-color: #115e59;
}
.badge.luxury {
  background-color: #161616;
}

/* --NavBar---------------------------------------------------------------- */

header {
  position: sticky;
  top: 0;
}

nav {
  background-color: #fff7ed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.nav--title {
  font-size: 1.5rem;
  color: #000;
  font-weight: 900;
}

.nav--links a {
  padding-left: 1rem;
  color: #4d4d4d;
  font-weight: 800;
  font-size: 1rem;
}

header a:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* --Footer---------------------------------------------------------------- */

footer {
  margin-top: auto;
  padding: 1rem;
  background-color: #252525;
  color: #aaa;
  text-align: center;
}

/* --HomePage---------------------------------------------------------------- */

.home {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.36), rgba(0, 0, 0, 0.36)),
    url('./assets/homeBg.png') no-repeat center 20%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;
  padding-top: 180px;
  padding-bottom: 200px;
}

.home--content {
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
}

.home--content .button {
  margin-top: 1.5rem;
}

.home--content a {
  color: #fff;
}

.home--title {
  font-size: 2.25rem;
  font-weight: 800;
  line-height: 42px;
  margin-bottom: 0;
}

.home--text {
  font-size: 1rem;
  font-weight: 500;
  line-height: 24px;
  text-align: justify;
}

/* --AboutPage---------------------------------------------------------------- */

.about--img {
  width: 100%;
  height: 240px;
  object-fit: cover;
  object-position: 50% 40%;
}

.about--content {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  color: #161616;
}

.about--title {
  margin: 0;
  color: #161616;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 32px;
}

.about--text {
  line-height: 22px;
}

.about--card {
  margin-top: 3rem;
  border-radius: 5px;
  background: #ffcc8d;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 1.5rem;
}

.about--card a {
  color: #fff;
}

.about--card-title {
  font-size: 1.2rem;
  color: #161616;
  font-weight: 700;
  /* line-height: 30px; */
}

/* --VansPage-------------------------------------------------------------------------- */

.vans--container {
  padding-inline: 1.4rem;
}

.vans--cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 2rem;
  margin-top: 3.5rem;
  margin-bottom: 3rem;
}

.van--image {
  max-width: 100%;
  border-radius: 0.3rem;
}

.van--info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #161616;
}

.van--name,
.van--price {
  font-size: 0.9rem;
  font-weight: 600;
}

.van--card span {
  display: block;
  text-align: end;
  margin-top: -1.2rem;
  font-size: 0.8rem;
  font-weight: 500;
  color: #161616;
}

/* --VanDetail-------------------------------------------------------------------------- */

.vanDetail--container {
  padding: 4rem 1.25rem;
}

.vanDetail--container img {
  width: 100%;
  border-radius: 0.3rem;
  margin-bottom: 2rem;
}

.vanDetail--container h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0;
}

.vanDetail--price {
  font-weight: 700;
}
.vanDetail--price span {
  font-weight: 500;
}

.vanDetail--des {
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 18px;
  margin-bottom: 1rem;
}
